body {
  text-align: center;
  padding: 5%;
  background-color: #99cccc;
  font-family: Arial;
}

.loadMemesLink {
  cursor: pointer;
  font-style: italic;
  padding: 10px;
}

.meme-item {
  text-align: left;
  display: inline-block;
  padding: 10px;
  position: relative;
  width: 150px;
  height: 150px;
  margin: 5px;
  cursor: pointer;
}

.meme-img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid grey;
  position: absolute;
  object-fit: cover;
  filter: brightness(90%);
}

.darken-img {
  background-color: gray;
  filter: brightness(50%);
  animation-name: darken;
  animation-duration: 1s;
}

.meme-txt {
  width: 150px;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  animation: fade-in;
  animation-duration: 1s;
  font-size: 14px;
  color: white;
}

.no-txt {
  display: none;
}

@keyframes darken {
  from { filter: brightness(90%)};
  to { filter: brightness(50%)};
}

@keyframes fade-in {
  from { opacity: 0 };
  to { opacity: 100 };
}
